---
layout: base
title: Home
---

<h1>Home Page</h1>
<p class="box center invert">
	this text is in index.njk and has a class of box invert whereas the box
	surrounding everything is in base.njk
</p>

