<div>
	<ul class="cluster">
		<a href="/">
			<li>Home</li>
		</a>
		<a href="/">
			<li>Notes</li>
		</a>
		<a href="/">
			<li>Guests</li>
		</a>
		<a href="/">
			<li>Finances</li>
		</a>
	</ul>
</div>

