<div>
	<ul class="cluster">
		<a href="/">
			<li>Home</li>
		</a>
		<a href="/bookings/create/">
			<li>Create New Record</li>
		</a>
		<a href="/">
			<li>Edit/Delete Record</li>
		</a>
		<a href="/bookings/">
			<li>List Records</li>
		</a>
	</ul>
</div>

